.iconMiddle::after {
  background: #fff;
}
.iconRight {
  color: #fff;
}
.invoiceMethod {
  display: flex;
  border: 1px solid #eaf0ed;
  text-align: center;
  margin: 0 1.875rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.7;
  margin-bottom: 1.875rem;
}
.invoiceNow {
  display: block;
  color: #3f5d45;
  background-color: #eaf0ed;
  width: 50%;
  &:hover {
    color: #3f5d45;
  }
}
.invoiceAnother {
  display: block;
  color: #eaf0ed;
  background-color: #3f5d45;
  width: 50%;
  &:hover {
    color: #3f5d45;
    background-color: #eaf0ed;
  }
}
.shipName {
  padding-bottom: 0.875rem;
}
