// header
.headerContainer {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  @media (min-width: 768px) {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}

.hamburger {
  padding-right: 0;
  padding-left: 0;
  border: none;
  img {
    width: 24px;
  }
}

.navLogoPC {
  height: 40px;
}

.navLogoMB {
  height: 17.74px;
}

.navLinks {
  padding-right: 3.0625rem;
}

.navLink {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

//sectionTopImg
.topImgContainer {
  padding: 0;
  @media (min-width: 768px) {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}
.topImg {
  height: 277px;
  background-image: url(../images/p-7.avif);
  background-position: center;
  background-size: cover;
  @media (min-width: 768px) {
    height: 496px;
  }
}

//topLinks
.writing-vertical {
  writing-mode: vertical-lr;
}

.topLinkLeft {
  width: 33.33%;
  background-image: url(../images/p-8.avif);
  background-position: center;
  background-size: cover;
  height: 180px;
  @media (min-width: 768px) {
    height: 256px;
  }
}
.topLinkMiddle {
  width: 33.33%;
  background-image: url(../images/p-9.avif);
  background-position: center;
  background-size: cover;
  height: 180px;
  @media (min-width: 768px) {
    height: 256px;
  }
}
.topLinkRight {
  width: 33.33%;
  background-image: url(../images/p-10.avif);
  background-position: center;
  background-size: cover;
  height: 180px;
  @media (min-width: 768px) {
    height: 256px;
  }
}
.topLink {
  background-color: rgba(63, 93, 69, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.2;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  &:hover {
    background-color: rgba(255, 225, 128, 0.8);
    color: rgba(63, 93, 69, 1);
  }
  @media (min-width: 992px) {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
.topLinks {
  max-width: 780px;
  @media (min-width: 768px) {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  @media (min-width: 992px) {
    justify-content: center;
    position: relative;
    z-index: 1;
    top: -89px;
  }
}

//choose
.choose {
  padding: 0;
  @media (min-width: 992px) {
    height: 28.75rem;
    position: relative;
    justify-content: space-between;
  }
}
.backGround {
  width: 100%;
  height: 26.25rem;
  z-index: -1;
  top: 20px;
}
.slogan-sm {
  width: 100%;
  padding: 1.875rem 5.625rem;
}
.dessert {
  height: 15.625rem;

  background-position: center;
  background-size: cover;
  @media (min-width: 992px) {
    width: 28.75rem;
    height: 28.75rem;
    margin-right: 3.4375rem;
    margin-left: 2.625rem;
  }
}
.dessert1 {
  background-image: url(../images/p-11.avif);
}
.poem {
  padding: 1.875rem;
  line-height: 2;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0;
  @media (min-width: 992px) {
    writing-mode: vertical-rl;
    margin: 4.375rem 0;
    margin-right: 5rem;
    padding: 0;
  }
}
.slogan-lg {
  height: 19.196875rem;
  margin-right: 2.625rem;
}

//must
.must {
  padding: 0;

  @media (min-width: 992px) {
    margin-top: 3.75rem;
    height: 28.75rem;
    position: relative;
    justify-content: space-between;
  }
}
.dessert2 {
  background-image: url(../images/p-12.avif);
  @media (min-width: 992px) {
    margin: 0 2.625rem;
  }
}
.slogan-lg2 {
  @media (min-width: 992px) {
    margin-right: 0;
    margin-left: 5rem;
  }
}

.poem2 {
  @media (min-width: 992px) {
    margin-top: 4.0625rem;
    margin-bottom: 4.6875rem;
    margin-right: 0;
    margin-left: 3.46875rem;
  }
}

//noReason
.noReason {
  padding: 1.875rem 4.6875rem;
  @media (min-width: 992px) {
    padding: 5rem 0;
    padding-right: 28.25rem;
    padding-left: 30.1875rem;
  }
}

//todayDessert
.todayDessertContainer {
  padding: 0 1.875rem;
  @media (min-width: 992px) {
    padding: 0 0.625rem;
    padding-bottom: 3.75rem;
  }
}

.todayDessert {
  border-color: #eaf0ed;
  height: 27.25rem;
  min-width: 19.6875rem;
  margin-bottom: 1.875rem;
  @media (min-width: 992px) {
    min-width: 18.75rem;
    margin-bottom: 0;
  }
}

.todayDessertImg {
  width: 100%;
  height: 19.6875rem;
  background-position: center;
  background-size: cover;
}

.todayDessertImg1 {
  background-image: url(../images/p-2.png);
}

.todayDessertImg2 {
  background-image: url(../images/p-5.png);
}

.todayDessertImg3 {
  background-image: url(../images/p-13.avif);
}

.todayDessertContent {
  margin: 0;
  height: 3.5rem;
  text-align: center;
  align-items: center;
}

.todayDessertTitle {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.8;
  border-color: #eaf0ed;
}

.todayDessertPrice {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  @media (min-width: 992px) {
    padding: 0;
  }
}

.addToCart {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.375;
  padding: 1rem 0;
  height: 4.0625rem;
  text-align: center;
}

//subscribe
.subscribe {
  height: 11.625rem;
  padding: 1.875rem;
}

.subscribePart {
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0 0.75rem;
  }
}

.describe {
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  img {
    width: 2.5rem;
    margin-right: 1.25rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.375;
    margin-bottom: 0;
  }
}

.mailPart {
  img {
    width: 24px;
    height: 24px;
    margin-left: 1.25rem;
  }
}

.mailPartEnter {
  padding: 1rem 1.25rem;
  img {
    margin: 0;
  }
}
