.lastThreeNumber {
  width: 48.5%;
  margin-bottom: 1rem;
  label {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  input {
    font-weight: 300;
    line-height: 1.25;
    padding: 1.0625rem 1.25rem;
    width: 100%;
  }
}
.paymentMain {
  @media (min-width: 992) {
    margin-bottom: 3.75rem;
  }
}
.paymentDetail {
  margin-bottom: 0;
}
.iconLeft {
  &::before {
    content: "";
    background: #fff;
  }
}
.iconMiddle {
  color: #fff;
}
.credictCardInput {
  display: flex;
  align-items: center;
  background-color: #eaf0ed;
  padding-right: 1.375rem;

  input {
    color: #3f5d45;
  }
}
.paymentIcon {
  color: #3f5d45;
  background-color: #eaf0ed;
}
