//topImg
.productTopImgContainer {
  padding: 0;
  @media (min-width: 992px) {
    padding: 0 0.875rem;
    margin-bottom: 3.75rem;
  }
}

.productTopImg {
  height: 17.3125rem;
  width: 100%;
  background-image: url(../images/p-14.avif);
  background-position: center;
  background-size: cover;
  position: relative;
  @media (min-width: 992px) {
    height: 31rem;
  }
}

.productTopImgSlogan {
  position: absolute;
  width: 59.41px;
  height: 218.52px;
  background-image: url(../images/sm-想吃甜點是不需要理由的.svg);
  right: 1.875rem;
  top: 1.875rem;
  @media (min-width: 992px) {
    width: 89.1px;
    height: 327.79px;
    background-image: url(../images/lg-想吃甜點是不需要理由的.svg);
    right: 2.5rem;
    top: 2.5rem;
  }
}

//productContent
.productContent {
  padding: 0;
  @media (min-width: 992px) {
    display: flex;
    padding: 0 0.875rem;
  }
}
//dessertCategory
.dessertCategory {
  @media (min-width: 992px) {
    width: 300px;
    margin-right: 1.25rem;
  }
}

.chooseList {
}

.chooseListName {
  font-size: 1.5rem;
  line-height: 2.7;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.chooseListItem {
  font-size: 1.5rem;
  line-height: 2.7;
  text-align: center;
  display: block;
  background-color: white;
  border: 1px solid #eaf0ed;
  &:hover {
    background-color: #eaf0ed;
  }
}

//productDessert
.productDessert {
  @media (min-width: 992px) {
    width: 65.96%;
  }
}
.productDessertList {
}
.productDessertListItem {
  width: 19.6875rem;
  margin: 0 auto;
  margin-bottom: 1.875rem;
  @media (min-width: 992px) {
    width: 18.75rem;
  }
}
.productDessertItemImg {
  width: 19.6875rem;
  height: 19.6875rem;
  background-position: center;
  background-size: cover;
  position: relative;
  @media (min-width: 992px) {
    width: 18.75rem;
  }
}
.productTodaySpecial {
  position: absolute;
  writing-mode: vertical-lr;
  font-weight: 600;
  line-height: 2.25;
  text-align: center;
  padding: 0.625rem 0;
  left: 21px;
  @media (min-width: 992px) {
    left: 20px;
  }
}
.productLike {
  position: absolute;
  width: 20px;
  height: 18.35px;
  background-image: url(../images/favorite_border.png);
  top: 19px;
  right: 24.2px;
  @media (min-width: 992px) {
    right: 22px;
  }
}

.productDessertItemImg1 {
  background-image: url(../images/p-1.png);
}
.productDessertItemImg2 {
  background-image: url(../images/p-2.png);
}
.productDessertItemImg3 {
  background-image: url(../images/p-3.png);
}
.productDessertItemImg4 {
  background-image: url(../images/p-4.png);
}
.productDessertItemImg5 {
  background-image: url(../images/p-5.png);
}
.productDessertItemImg6 {
  background-image: url(../images/p-6.png);
}
.productDessertItemTitle {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.8;
  border: 1px solid #eaf0ed;
  width: 50%;
  text-align: center;
}
.productDessertItemPrice {
  width: 50%;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.8;
  border: 1px solid #eaf0ed;
  text-align: center;
}
.productAddToCart {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.7;
  display: block;
  text-align: center;
}

//productPages
.productPages {
  margin-bottom: 1.875rem;
  @media (min-width: 992px) {
    padding: 0 0.875rem;
    margin-bottom: 3.75rem;
  }
}
.productpageList {
  justify-content: center;
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}
.productPageListItem {
}
.productPage {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eaf0ed;
  text-align: center;
  color: #3f5d45;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 3;
}
.numberPage {
  &:hover {
    color: #eaf0ed;
    background-color: #3f5d45;
  }
}
.lastPage {
  background-image: url(../images/arrow_left.png);
}
.nextPage {
  background-image: url(../images/arrow_right.png);
}
