//shipMain
main {
  @media (min-width: 992px) {
    display: flex;
    justify-content: center;
  }
}
.shipMain {
  @media (min-width: 992px) {
    width: 45%;
    margin-right: 1.25rem;
  }
}
.shipContent {
  padding: 0;
}
.shipTitle {
  display: flex;
  padding: 1.875rem;
  justify-content: space-between;
  h2 {
    font-weight: 600;
    font-size: 2.25rem;
    width: 48.5%;
  }
}
.shipProcess {
  position: relative;
  display: flex;
  align-items: center;
  width: 48.5%;
  justify-content: space-between;
}
.iconFromGoogle {
  font-size: 16.45px;
}
.iconLeft {
  color: white;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15.45px;
    background: #8da291;
    width: calc((100% - 45.35px) / 2);
    height: 1px;
  }
}
.iconMiddle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15.45px;
  background: #8da291;
  width: calc((100% - 45.35px) / 2);
  height: 1px;
}

.shipName {
  display: flex;
  flex-wrap: wrap;
  padding: 1.875rem;
  padding-top: 0;
  justify-content: space-between;
}
.shipLastName {
  width: 48.5%;
  label {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  input {
    font-weight: 300;
    line-height: 1.25;
    padding: 1.0625rem 1.25rem;
    width: 100%;
  }
}
.shipFirstName {
  width: 48.5%;
  margin-bottom: 1rem;
  label {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  input {
    font-weight: 300;
    line-height: 1.25;
    padding: 1.0625rem 1.25rem;
    width: 100%;
  }
}
.shipPhone {
  width: 100%;
  margin-bottom: 1rem;
  label {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  input {
    font-weight: 300;
    line-height: 1.25;
    padding: 1.0625rem 1.25rem;
    width: 100%;
  }
}
.shipAddressTitle {
  display: block;
  width: 98%;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.shipAddress1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}
.shipAddressCounty {
  display: flex;
  width: 48.5%;
  input {
    font-weight: 300;
    line-height: 1.25;
    width: 100%;
    padding: 1.0625rem 1.25rem;
  }
}
.shipAddressDistrict {
  display: flex;
  width: 48.5%;
  input {
    font-weight: 300;
    line-height: 1.25;
    width: 100%;
    padding: 1.0625rem 1.25rem;
  }
}
.shipIcon {
  display: flex;
  flex-direction: column;
  background-color: rgba(234, 240, 237, 1);
  color: rgba(63, 93, 69, 1);
  padding-right: 1.125rem;
  justify-content: center;
  position: relative;
}
.iconUp {
  position: relative;
  top: 8px;
}
.iconDown {
  position: relative;
  bottom: 8px;
}
.shipAddress2 {
  width: 100%;
  input {
    font-weight: 300;
    line-height: 1.25;
    padding: 1.0625rem 1.25rem;
    width: 100%;
  }
}
.nextStep {
  display: block;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.7;
}

//orderDetail
.orderDetail {
  width: 29.5%;
  margin-bottom: 3.75rem;
}
.orderDetailSummary {
  border: 1px solid rgba(234, 240, 237, 1);
  margin-bottom: 1.25rem;
}
.orderDetailSummaryTitle {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.7;
  margin-bottom: 0;
}
.orderDetailSummarySubtotal {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  p {
    font-weight: 300;
    margin-bottom: 0;
  }
}
.orderDetailSummaryShipment {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  p {
    font-weight: 300;
    margin-bottom: 0;
  }
}
.orderDetailSummaryTotal {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.25rem;
  p {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}
.orderDetailListContent {
  border: 1px solid rgba(234, 240, 237, 1);
}
.orderDetailListTitle {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.7;
  margin-bottom: 0;
}
.orderDetailList {
  padding-left: 1.25rem;
  padding-right: 1.125rem;
  padding-top: 1rem;
}
.orderDetailListItem {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}
.orderDetailListItemImg {
  width: 46.5%;
  height: 5rem;
  background-position: center;
  background-size: cover;
}
.orderDetailListItemImg1 {
  background-image: url(../images/p-16.avif);
}
.orderDetailListItemImg2 {
  background-image: url(../images/p-5.png);
}
.orderDetailListItemImg3 {
  background-image: url(../images/p-3.png);
}
.orderDetailListItemDetail {
  width: 46.5%;
}
.orderDetailListItemName {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.25;
}
.orderDetailListItemPrice {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
}
